@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

html {
    background-color: #f5f6fa;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    color: #f5f6fa;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #f5f6fa;
}

h3 {
    font-size: 24px;
    line-height: 64px;
    color: #f5f6fa;
}

h4 {
    font-size: 32px;
    line-height: 54px;
    color:  #f5f6fa;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    line-height: 54px;
    margin: 15px 0 20px 0;
    color: #495055
}

section {
    padding: 40px 80px;
}

body {
    width: 100%;
}

button {
    background: #0080ff;
    color: white;
    border: 1px solid transparent;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #2381df;
    font-family: 'Open Sans', sans serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    color: #ebebeb;
    background: #17599b;
    transition: .25s;
}

/* Header ----------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #2f3640;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo a, h2 {
    font-size: 36px;
    color: #f5f6fa;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar ul li {
    list-style: none;
    padding: 0 20px;
}

#navbar ul li a {
    font-size: 18px;
    font-weight: 800;
    color: #487eb0;
    transition: 0.3s ease;
}

#navbar ul li a:hover,
#navbar ul li a.active,
#navbar ul li:nth-child(5) a {
    color: #dcdde1;
}

/* Main ----------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #242931, #404758, #242931);
    width: 100%;
}

/* Footer -------------------------- */
footer {
    background-color: #2f3640;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #f5f6fa;
}

footer p {
    color: #f5f6fa;
    line-height: 24px;
}

footer h4 {
    font-size: 24px;
}

#footer-2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:32px;
}

#social-media a {
    color: #f5f6fa;
}

#social-media a:nth-child(1):hover {
    color: #1877f2;
    transition: 0.3s;
}

#social-media a:nth-child(2):hover {
    color: #1da1f2;
    transition: 0.3s;
}

#social-media a:nth-child(3):hover {
    color: #c32aa3;
    transition: 0.3s;
}

#social-media a:nth-child(4):hover {
    color: #ff0000;
    transition: 0.3s;
}

@media  (max-width: 900px) {
    header {
        justify-content: center;
    }

    header .logo h1 {
        display: none;
    }

    #footer-2 {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 500px) {
    header .logo h1 {
        display:contents
    }

    #navbar ul li {
        padding: 10px;
    }

    header {
        flex-direction: column;
    }

    #navbar {
        margin: 1px;
        padding: 1px;
        gap: 1px;
    }

    #footer-2, #contact-us, #follow-us {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}